<!--================Side Menu Area =================-->
<div class="right_sidebar_menu">
    <div class="right_menu_inner">
        <div class="close_menu bar_menu">
            <span></span>
            <span></span>
        </div>
        <div class="right_widget_inner">
            <aside class="right_widget appointment_widget">
                <h2>Get Appointment</h2>
                <form class="contact_us_form row m0" action="#" id="contactForm1">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" id="name1" name="name" placeholder="Name">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="email" class="form-control" id="email1" name="email" placeholder="Email Address">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" id="tel1" name="tel" placeholder="Phone no.">
                    </div>
                    <div class="form-group col-md-12">
                        <textarea class="form-control" name="message" id="message1" rows="1" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" value="submit" class="btn submit_btn">submit now</button>
                    </div>
                </form>
            </aside>
            <aside class="right_widget contact_widget">
                <div class="w_contact">
                    <a href="#">contact@straight.com</a>
                    <a href="#">+(123) 456 7890</a>
                </div>
                <ul class="social_list">
                    <li>
                        <a href="#">facebook</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Instragram</a>
                    </li>
                    <li>
                        <a href="#">Linkedin</a>
                    </li>
                    <li>
                        <a href="#">Google+</a>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</div>
<!--================Side Menu Area =================-->
<!--================Header Area =================-->
<header class="main_menu_area">
    <div class="header_top">
        <div class="container">
            <div class="pull-left">
                <a href="#">
                    <i class="flaticon-phone-receiver"></i>1800 879 5247</a>
                <a href="#">
                    <i class="flaticon-send"></i>Free Enquiry</a>
            </div>
            <div class="pull-right">
                <ul class="header_social">
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <select class="selectpicker">
                    <option>EN</option>
                    <option>BN</option>
                    <option>IN</option>
                </select>
                <div id="nav-icon1">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="menu_inner_area">
        <div class="container-fluide">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="assets/img/logo-white.png" alt="">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li [ngClass]="{'active':pageType == 'home'}" (click)="home()">
                            <a>Home</a>
                        </li>
                        <li [ngClass]="{'active':pageType == 'about'}" class="dropdown submenu" (click)="about()">
                            <a class="dropdown-toggle">About Us</a>

                        </li>
                        <li class="dropdown submenu" [ngClass]="{'active':pageType == 'selfplaced'}" (click)="selfplaced()">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Self Placed Training</a>

                        </li>
                        <li class="dropdown submenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Online Training</a>

                        </li>
                        <li class="dropdown submenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Classroom Training</a>

                        </li>
                        <li class="dropdown submenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Corporate Batch</a>

                        </li>
                        <li [ngClass]="{'active':pageType == 'contact'}" (click)="contact()">
                            <a>Contact Us</a>
                        </li>
                    </ul>
                    <!-- <ul class="nav navbar-nav navbar-right">
                              <li><a href="#test-search" class="popup-with-zoom-anim"><i class="fa fa-search"></i></a></li>
                          </ul> -->
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
</header>