        <!--================Side Menu Area =================-->
        <div class="right_sidebar_menu">
          <div class="right_menu_inner">
          <div class="close_menu bar_menu">
              <span></span>
              <span></span>
          </div>
          <div class="right_widget_inner">
              <aside class="right_widget appointment_widget">
                  <h2>Get Appointment</h2>
                  <form class="contact_us_form row m0" action="#" id="contactForm1">
                      <div class="form-group col-md-12">
                          <input type="text" class="form-control" id="name1" name="name" placeholder="Name">
                      </div>
                      <div class="form-group col-md-12">
                          <input type="email" class="form-control" id="email1" name="email" placeholder="Email Address">
                      </div>
                      <div class="form-group col-md-12">
                          <input type="text" class="form-control" id="tel1" name="tel" placeholder="Phone no.">
                      </div>
                      <div class="form-group col-md-12">
                          <textarea class="form-control" name="message" id="message1" rows="1" placeholder="Message"></textarea>
                      </div>
                      <div class="form-group col-md-12">
                          <button type="submit" value="submit" class="btn submit_btn">submit now</button>
                      </div>
                  </form>
              </aside>
              <aside class="right_widget contact_widget">
                  <div class="w_contact">
                      <a href="#">contact@straight.com</a>
                      <a href="#">+(123) 456 7890</a>
                  </div>
                  <ul class="social_list">
                      <li><a href="#">facebook</a></li>
                      <li><a href="#">Twitter</a></li>
                      <li><a href="#">Instragram</a></li>
                      <li><a href="#">Linkedin</a></li>
                      <li><a href="#">Google+</a></li>
                  </ul>
              </aside>
          </div>
          </div>
      </div>
      <!--================Side Menu Area =================-->
      <!--================Header Area =================-->
      <header class="main_menu_area">
          <div class="header_top">
              <div class="container">
                  <div class="pull-left">
                      <a href="#"><i class="flaticon-phone-receiver"></i>1800 879 5247</a>
                      <a href="#"><i class="flaticon-send"></i>Free Enquiry</a>
                  </div>
                  <div class="pull-right">
                      <ul class="header_social">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                      <select class="selectpicker">
                          <option>EN</option>
                          <option>BN</option>
                          <option>IN</option>
                      </select>
                      <div id="nav-icon1">
                          <span></span>
                          <span></span>
                          <span></span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="menu_inner_area">
              <div class="container">
                  <nav class="navbar navbar-default">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#"><img src="assets/img/logo-white.png" alt=""></a>
                      </div>

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav">
                              <li class="active">
                                  <a href="index.html">Home</a>
                              </li>
                              <li class="dropdown submenu">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
                                  <ul class="dropdown-menu">
                                      <li><a href="about-us.html">About Us</a></li>
                                      <li><a href="company-overview.html">Company Overview</a></li>
                                      <li><a href="company-history.html">Company History</a></li>
                                      <li><a href="career.html">Careers</a></li>
                                      <li><a href="partner.html">Our Partners</a></li>
                                  </ul>
                              </li>
                              <li class="dropdown submenu">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                                  <ul class="dropdown-menu">
                                      <li><a href="service.html">All Services</a></li>
                                      <li><a href="private-banking.html">Private Banking</a></li>
                                      <li><a href="wealth-management.html">Wealth Management</a></li>
                                      <li><a href="business.html">Business Consulting</a></li>
                                      <li><a href="marketing.html">Audit & Assurance</a></li>
                                      <li><a href="stragetic-planning.html">Investment Planning</a></li>
                                      <li><a href="sales-trade.html">Sales & Trade</a></li>
                                      <li><a href="financial.html">Financial Planning</a></li>
                                  </ul>
                              </li>
                              <li class="dropdown submenu">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cases</a>
                                  <ul class="dropdown-menu">
                                      <li><a href="projects-3col.html">Cases 3 column</a></li>
                                      <li><a href="projects-4col.html">Cases 4 column</a></li>
                                      <li><a href="projects-fullcol.html">Case Full Screen</a></li>
                                      <li><a href="cases-details.html">Case Details Page</a></li>
                                  </ul>
                              </li>
                              <li class="dropdown submenu">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                  <ul class="dropdown-menu">
                                      <li><a href="404.html">404 page</a></li>
                                      <li><a href="coming-soon.html">Comming Soon page</a></li>
                                      <li><a href="team.html">Team</a></li>
                                      <li><a href="faq.html">Faq</a></li>
                                      <li><a href="testimonial.html">Testimonials</a></li>
                                  </ul>
                              </li>
                              <li class="dropdown submenu">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                  <ul class="dropdown-menu">
                                      <li><a href="blog.html">Blog with sidebar</a></li>
                                      <li><a href="blog-fullwidth.html">Blog without sidebar</a></li>
                                      <li><a href="blog-2col.html">Blog 2 column</a></li>
                                      <li><a href="blog-3col.html">Blog 3 column</a></li>
                                      <li><a href="blog-details.html">Blog details</a></li>
                                  </ul>
                              </li>
                              <li><a href="contact-us.html">Contact Us</a></li>
                          </ul>
                          <ul class="nav navbar-nav navbar-right">
                              <li><a href="#test-search" class="popup-with-zoom-anim"><i class="fa fa-search"></i></a></li>
                          </ul>
                      </div><!-- /.navbar-collapse -->
                  </nav>
              </div>
          </div>
      </header>