    <!--================Footer Area =================-->
    <footer class="footer_weidget_area">
      <div class="container">
          <div class="row f_widget_inner">
              <div class="container">
                  <div class="col-sm-3 col-xs-6">
                      <aside class="f_widget about_widget">
                          <img src="assets/img/footer-logo.png" alt="">
                          <a href="#"><h4>1800.854.9875</h4></a>
                          <h5>Hello@straight.com</h5>
                          <p>© Straight <script>document.write(new Date().getFullYear());</script>.<br /> All rights reserved.</p>
                      </aside>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                      <aside class="f_widget link_widget">
                          <div class="f_title">
                              <h3>QUick Links</h3>
                          </div>
                          <ul>
                              <li><a href="#">Get Quote</a></li>
                              <li><a href="#">Documentation</a></li>
                              <li><a href="#">Term & Conditions</a></li>
                              <li><a href="#">Sitemap</a></li>
                              <li><a href="#">Purchase Now</a></li>
                          </ul>
                      </aside>
                  </div>
                  <div class="col-sm-2 col-xs-6">
                      <aside class="f_widget link_widget link_widget_two">
                          <div class="f_title">
                              <h3>About</h3>
                          </div>
                          <ul>
                              <li><a href="about-us.html">About Company</a></li>
                              <li><a href="#">Career</a></li>
                              <li><a href="team.html">Team</a></li>
                              <li><a href="testimonial.html">Testimonials</a></li>
                              <li><a href="blog-details.html">Blog</a></li>
                          </ul>
                      </aside>
                  </div>
                  <div class="col-sm-4 col-xs-6">
                      <aside class="f_widget subscrib_widget">
                          <div class="f_title">
                              <h3>Subscribe Us</h3>
                          </div>
                          <form class="mailchimp" method="post">
                              <div class="input-group subscrib_form">
                                  <input type="email" name="EMAIL" class="form-control memail" placeholder="Enter your email">
                                  <span class="input-group-btn">
                                      <button class="btn btn-default submit_btn_b" type="submit">Subscribe now</button>
                                  </span>
                              </div>
                          </form>
                      </aside>
                  </div>
              </div>
          </div>
      </div>
  </footer>