<app-header></app-header>
<!--================Banner Area =================-->
<section class="banner_area">
  <div class="container">
    <div class="banner_inner">
      <h2>Self Paced Trainings</h2>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li class="active">
          <a >Self Paced Training</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--================End Banner Area =================-->

<!--================Prictice Area =================-->
<section class="practice_area sevice_offer pad_100">
  <div class="container">

    <div class="row practice_inner">
        <div class="col-sm-4 col-xs-6 products transport sector" (click) ="mean('mean')">
            <div class="cases_item">
                <div class="cases_image">
                    <img src="assets/img/practice/1.png" alt="">
                    <a class="cases_link" ><i class="icon icon-Linked"></i></a> 
                </div>
                <a ><h5>MEAN</h5></a>
                <p>AngularJS is a structural framework for dynamic web apps. With AngularJS, designers can use HTML as the template language and it allows for the extension...</p>
            </div>  
            <div class="post-meta">
                <a class="text-theme-colored2 font-14 text-gray-darkgray pull-right flip" (click) ="mean('mean')">Read More</a>
              </div>
        </div>
        <div class="col-sm-4 col-xs-6 products transport sector" (click) ="mean('mean')">
            <div class="cases_item">
                <div class="cases_image">
                    <img src="assets/img/practice/2.png" alt="">
                    <a class="cases_link" ><i class="icon icon-Linked"></i></a> 
                </div>
                <a ><h5>Oracle Cloud Fusion Financials</h5></a>
                <p>Python is an interpreted,object oriented,high-level programming language with dnamic semantics It's high level built in data structures,combined with dynamic types & dynamic binding.These l....</p>
            </div>  
            <div class="post-meta">
                <a class="text-theme-colored2 font-14 text-gray-darkgray pull-right flip" (click) ="mean('mean')">Read More</a>
              </div>
        </div>
        <div class="col-sm-4 col-xs-6 products transport sector" (click) ="mean('mean')">
            <div class="cases_item">
                <div class="cases_image">
                    <img src="assets/img/practice/4.PNG" alt="">
                    <a class="cases_link" ><i class="icon icon-Linked"></i></a> 
                </div>
                <a ><h5>Oracle EBS R12 Financials</h5></a>
                <p>Oracle R12 Financials E-Business Suite Application is best financial solution for Enterprise management. It allows to make best decisions, improve operations and cost red...</p>
            </div>  
            <div class="post-meta">
                <a class="text-theme-colored2 font-14 text-gray-darkgray pull-right flip" (click) ="mean('mean')">Read More</a>
              </div>
        </div>
        <div class="col-sm-4 col-xs-6 products transport sector" (click) ="mean('mean')">
            <div class="cases_item">
                <div class="cases_image">
                    <img src="assets/img/practice/3.png" alt="">
                    <a class="cases_link" ><i class="icon icon-Linked"></i></a> 
                </div>
                <a ><h5>Oracle Cloud Fusion Financials</h5></a>
                <p>Oracle Fusion Cloud Financials is the next level application suite of ERP financial Management solutions. Being developed and deployed in Cloud environment it has very re...</p>
            </div>  
            <div class="post-meta">
                <a class="text-theme-colored2 font-14 text-gray-darkgray pull-right flip" (click) ="mean('mean')">Read More</a>
              </div>
        </div>

  
    </div>
  </div>
</section>
<!--================End Prictice Area =================-->

<!--================End Video Area =================-->

<app-footer></app-footer>