<app-header></app-header>
<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_inner">
            <h2>Online Trainings</h2>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li class="active">
                    <a>Online Training</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->

<!--================Prictice Area =================-->
<section class="practice_area sevice_offer pad_30">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 pull-right">
                <div class="business_service_content">
                    <div class="row " style="padding: 16px 0px;border-bottom: 2px solid #d8d6d6">
                        <div class="col-md-4 center-block">
                            <div class="section-box-one">
                                <figure>
                                    <h3 class="hoverHead">MEAN </h3>
                                    <p class="parahover">Duration 45 Days</p>
                                    <a class="btn btn-read" style="margin-left:10px" data-toggle="modal" data-target="#myModal">Register</a>
                                    <a class="btn btn-read" href="http://rstglobaltech.com/rst/upload/No%20syllabus.pdf"
                                        target="blank" style="margin-left:10px">Download</a>
                                </figure>
                                <img src="assets/img/practice/11.jpg" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-md-4 center-block">
                            <div class="section-box-one">
                                <figure>
                                    <h3 class="hoverHead">Data science </h3>
                                    <p class="parahover">Duration 45 Days</p>
                                    <a class="btn btn-read" style="margin-left:10px" data-toggle="modal" data-target="#myModal">Register</a>
                                    <a class="btn btn-read" href="http://rstglobaltech.com/rst/upload/Data%20science.pdf"
                                        style="margin-left:10px" target="blank">Download</a>
                                </figure>
                                <img src="assets/img/practice/12.jpg" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-md-4 center-block">
                            <div class="section-box-one">
                                <figure>
                                    <h3 class="hoverHead">Python </h3>
                                    <p class="parahover">Duration 45 Days</p>
                                    <a class="btn btn-read" style="margin-left:10px" data-toggle="modal" data-target="#myModal">Register</a>
                                    <a class="btn btn-read" href="http://rstglobaltech.com/rst/upload/Python.pdf" style="margin-left:10px"
                                        target="blank">Download</a>
                                </figure>
                                <img src="assets/img/practice/15.jpg" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 16px 0px;border-bottom: 2px solid #d8d6d6">

                        <div class="col-md-4 center-block">
                            <div class="section-box-one">
                                <figure>
                                    <h3 class="hoverHead">EBS R12 Financials </h3>
                                    <p>Duration 45 Days</p>
                                    <a class="btn btn-read" style="margin-left:10px" data-toggle="modal" data-target="#myModal">Register</a>
                                    <a class="btn btn-read" style="margin-left:10px" href="http://rstglobaltech.com/rst/upload/No%20syllabus.pdf"
                                        target="blank">Download</a>
                                </figure>
                                <img src="assets/img/practice/14.jpg" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-md-4 center-block">
                            <div class="section-box-one">
                                <figure>
                                    <h3 class="hoverHead">SAP</h3>
                                    <p>Duration 45 Days</p>
                                    <a class="btn btn-read" style="margin-left:10px" data-toggle="modal" data-target="#myModal">Register</a>
                                    <a class="btn btn-read" href="http://rstglobaltech.com/rst/upload/No%20syllabus.pdf"
                                        target="blank" style="margin-left:10px">Download</a>
                                </figure>
                                <img src="assets/img/corporate/18.PNG" class="img-responsive" />
                            </div>
                        </div>

                        <div class="col-md-4 center-block">
                            <div class="section-box-one">
                                <figure>
                                    <h3 class="hoverHead">Oracle Fusion</h3>
                                    <p>Duration 45 Days</p>
                                    <a class="btn btn-read" style="margin-left:10px" data-toggle="modal" data-target="#myModal">Register</a>
                                    <a class="btn btn-read" href="http://rstglobaltech.com/rst/upload/Oracle%20Fusion.pdf"
                                        target="blank" style="margin-left:10px">Download</a>
                                </figure>
                                <img src="assets/img/practice/13.jpg" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 30px 0px;border-bottom: 2px solid #d8d6d6">

                        <div class="col-md-4 center-block">
                            <div class="section-box-one">
                                <figure>
                                    <h3 class="hoverHead">Microsoft dynamic</h3>
                                    <p>Duration 45 Days</p>
                                    <a class="btn btn-read" style="margin-left:10px" data-toggle="modal" data-target="#myModal">Register</a>
                                    <a class="btn btn-read" href="http://rstglobaltech.com/rst/upload/No%20syllabus.pdf"
                                        target="blank" style="margin-left:10px">Download</a>
                                </figure>
                                <img src="assets/img/corporate/17.PNG" class="img-responsive" />
                            </div>
                        </div>

                        <div class="col-md-4 center-block">
                            <div class="section-box-one">
                                <figure>
                                    <h3 class="hoverHead">Sales force</h3>
                                    <p>Duration 45 Days</p>
                                    <a class="btn btn-read" style="margin-left:10px" data-toggle="modal" data-target="#myModal">Register</a>
                                    <a class="btn btn-read" href="http://rstglobaltech.com/rst/upload/No%20syllabus.pdf"
                                        target="blank" style="margin-left:10px">Download</a>
                                </figure>
                                <img src="assets/img/corporate/16.PNG" class="img-responsive" />
                            </div>
                        </div>

                        <div class="col-md-4 center-block">
                            <div class="section-box-one">
                                <figure>
                                    <h3 class="hoverHead">Net</h3>
                                    <p>Duration 45 Days</p>
                                    <a class="btn btn-read" style="margin-left:10px" data-toggle="modal" data-target="#myModal">Register</a>
                                    <a class="btn btn-read" href="http://rstglobaltech.com/rst/upload/No%20syllabus.pdf"
                                        target="blank" style="margin-left:10px">Download</a>
                                </figure>
                                <img src="assets/img/corporate/14.PNG" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 30px 0px">
                        <div class="col-md-4 center-block">
                            <div class="section-box-one">
                                <figure>
                                    <h3 class="hoverHead">Angular</h3>
                                    <p>Duration 45 Days</p>
                                    <a class="btn btn-read" style="margin-left:10px" data-toggle="modal" data-target="#myModal">Register</a>
                                    <a class="btn btn-read" href="http://rstglobaltech.com/rst/upload/No%20syllabus.pdf"
                                        target="blank" style="margin-left:10px">Download</a>
                                </figure>
                                <img src="assets/img/corporate/13.PNG" class="img-responsive" />
                            </div>
                        </div>

                        <div class="col-md-4 center-block">
                            <div class="section-box-one">
                                <figure>
                                    <h3 class="hoverHead">Android</h3>
                                    <p>Duration 45 Days</p>
                                    <a class="btn btn-read" style="margin-left:10px" data-toggle="modal" data-target="#myModal">Register</a>
                                    <a class="btn btn-read" href="http://rstglobaltech.com/rst/upload/No%20syllabus.pdf"
                                        target="blank" style="margin-left:10px">Download</a>
                                </figure>
                                <img src="assets/img/corporate/12.PNG" class="img-responsive" />
                            </div>
                        </div>

                        <div class="col-md-4 center-block">
                            <div class="section-box-one">
                                <figure>
                                    <h3 class="hoverHead">IoT</h3>
                                    <p>Duration 45 Days</p>
                                    <a class="btn btn-read" style="margin-left:10px" data-toggle="modal" data-target="#myModal">Register</a>
                                    <a class="btn btn-read" href="http://rstglobaltech.com/rst/upload/No%20syllabus.pdf"
                                        target="blank" style="margin-left:10px">Download</a>
                                </figure>
                                <img src="assets/img/corporate/11.PNG" class="img-responsive" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 b-sidebar pull-left">
                <div class="tt-widget">
                    <ul class="leftmenu">
                        <li class="active">
                            <a>Training Highlights</a>
                        </li>
                        <li>
                            <a>World class Interactive Learning</a>
                        </li>
                        <li>
                            <a>INdustry Savry Training</a>
                        </li>
                        <li>
                            <a>24/7 Lab Facility</a>
                        </li>
                        <li>
                            <a>Highly Affordable Course</a>
                        </li>
                        <li>
                            <a>Suport after Training Includes blow </a>
                            <ul style="list-style-type: disc;margin-left: 24px;">
                                <li>
                                    <a>Resume Preparation </a>
                                </li>
                                <li>
                                    <a>Certification Guidance </a>
                                </li>
                                <li>
                                    <a>Interview Assistance </a>
                                </li>
                              
                            </ul>
                        </li>

                    </ul>
                </div>


            </div>

        </div>
    </div>
    <!-- <div class="container">
        <div class="row practice_inner">
            <div class="col-sm-4 col-xs-6 products transport sector">
                <div class="cases_item">
                    <div class="cases_image">
                        <img src="assets/img/practice/1.png" alt="">
                        <a class="cases_link">
                            <i class="icon icon-Linked"></i>
                        </a>
                    </div>
                    <a>
                        <h5>MEAN</h5>
                    </a>
                    <p>AngularJS is a structural framework for dynamic web apps. With AngularJS, designers can use HTML as the
                        template language and it allows for the extension...</p>
                </div>
                <div class="post-meta">
                    <a class="text-theme-colored2 font-14 text-gray-darkgray pull-right flip btn_border" data-toggle="modal" data-target="#myModal"">Register</a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 products transport sector">
                <div class="cases_item">
                    <div class="cases_image">
                        <img src="assets/img/practice/2.png" alt="">
                        <a class="cases_link">
                            <i class="icon icon-Linked"></i>
                        </a>
                    </div>
                    <a>
                        <h5>Data science</h5>
                    </a>
                    <p>Python is an interpreted,object oriented,high-level programming language with dnamic semantics It's high
                        level built in data structures,combined with dynamic types & dynamic binding.These l....</p>
                </div>
                <div class="post-meta">
                    <a class="text-theme-colored2 font-14 text-gray-darkgray pull-right flip btn_border" data-toggle="modal" data-target="#myModal"Reagister/a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 products transport sector">
                <div class="cases_item">
                    <div class="cases_image">
                        <img src="assets/img/practice/4.PNG" alt="">
                        <a class="cases_link">
                            <i class="icon icon-Linked"></i>
                        </a>
                    </div>
                    <a>
                        <h5>Oracle EBS R12 Financials</h5>
                    </a>
                    <p>Oracle R12 Financials E-Business Suite Application is best financial solution for Enterprise management.
                        It allows to make best decisions, improve operations and cost red...</p>
                </div>
                <div class="post-meta">
                    <a class="text-theme-colored2 font-14 text-gray-darkgray pull-right flip btn_border" data-toggle="modal" data-target="#myModal"')"gisterore</a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 products transport sector">
                <div class="cases_item">
                    <div class="cases_image">
                        <img src="assets/img/practice/3.png" alt="">
                        <a class="cases_link">
                            <i class="icon icon-Linked"></i>
                        </a>
                    </div>
                    <a>
                        <h5>Oracle Cloud Fusion Financials</h5>
                    </a>
                    <p>Oracle Fusion Cloud Financials is the next level application suite of ERP financial Management solutions.
                        Being developed and deployed in Cloud environment it has very re...</p>
                </div>
                <div class="post-meta">
                    <a class="text-theme-colored2 font-14 text-gray-darkgray pull-right btn_border flip" data-toggle="modal" data-target="#myModal">Register</a>
                </div>
            </div>


        </div>
    </div> -->
</section>
<!--================End Prictice Area =================-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Online Training Registraion</h4>
            </div>
            <div class="modal-body">
                <div id="right_container">
                    <div id="signup_container" class="hidden-xs">
                        <form role="form"  autocomplete="off" novalidate="" class="signup-form ng-pristine " name="signupForm1">
                            <div class="form-group">
                                <label for="email" class="control-label">Email:</label>
                                <input type="email" [(ngModel)]="email" class="form-control input-sm ng-pristine " name="email"
                                    placeholder="john@example.com" required="" style="">
                            </div>
                            <!-- <div class="form-group">
                            <label for="email" class="control-label">Password</label>
                            <input type="password" class="form-control input-sm ng-pristine " name="email" placeholder="password"
                                required="" style="">
                        </div> -->
                            <div class="form-group">
                                <label for="email" class="control-label">Name:</label>
                                <input type="text" [(ngModel)]="name" class="form-control input-sm ng-pristine " name="name"
                                    placeholder="james" required="" style="">
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label">Mobile:</label>
                                <input type="number" [(ngModel)]="mobile" class="form-control input-sm ng-pristine "
                                    name="mobile" placeholder="9876543210" required="" style=""  pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==10) return false;">
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label">City:</label>
                                <input type="text" [(ngModel)]="city" class="form-control input-sm ng-pristine " name="city"
                                    placeholder="visakhapatnam" required="" style="">
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label">Message:</label>
                                <input type="text" [(ngModel)]="message" class="form-control input-sm ng-pristine "
                                    name="message" placeholder="how can i help you ?" required="" style="">
                            </div>

                            <div class="form-group">
                                <!-- ngIf: showButton -->

                                <!-- end ngIf: showButton -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="!name || !email" data-dismiss="modal" (click) ="register()" type="submit" ng-if="showButton" class="btn btn-primary ng-scope">Sign up</button>
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            </div>
        </div>

    </div>
</div>
<!--================End Video Area =================-->

<app-footer></app-footer>