<app-header></app-header>

<!--================Banner Area =================-->
<section class="banner_area">
  <div class="container">
    <div class="banner_inner">
      <h2>About Us</h2>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li class="active">
          <a href="#">About us</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--================End Banner Area =================-->

<!--================Experience Details Area =================-->
<section class="experience_details_area pad_100">
  <div class="container">
    <div class="row experience_inner">
      <div class="col-sm-4">
        <div class="ex_left_title">
          <h3 class="single_bar_title">We have 15 years
            <br> experience in
            <br />consulting</h3>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="experience_right_text">
          <p class="text-justify">RST Global can custom deliver training programs which are designed to suit a specific organization or an organizational need. We offer a wide range of workforce Development programs, with an integrated and holistic approach towards the design and methodology of training and capacity development.
          </p>
          <p class="text-justify">RST Global training programs covers ground across software related programs and has varying expertise levels at which an organization can subscribe for this. We also offer consultancy services where customized solutions are created to suit your company`s needs.</p>

          <p class="text-justify">We can deliver Oracle Applications training programs which include not only the technical Oracle Apps implementations, but also in-depth functional concepts. The instructor-led, consulting-oriented training is delivered in an intensive boot camp mode providing consultants with both hands-on practice as well as one-to-one interaction with trainer to obtain some advantages from it.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Experience Details Area =================-->

<!--================End Video Area =================-->

<app-footer></app-footer>