<app-header></app-header>

<!--================Banner Area =================-->
<section class="banner_area">
  <div class="container">
    <div class="banner_inner">
      <h2>About Us</h2>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li class="active">
          <a href="#">About us</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--================End Banner Area =================-->

<!--================Experience Details Area =================-->
<section class="experience_details_area pad_100">
  <div class="container">
    <div class="row experience_inner">
      <div class="col-sm-4">
        <div class="ex_left_title">
          <h3 class="single_bar_title">We have 24 years
            <br> experience in
            <br />consulting</h3>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="experience_right_text">
          <h4>Our solid conviction is that if a business is to be upgraded, it's to be streamlined in a full cycle way!</h4>
          <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know
            how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone
            who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances
            occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever
            undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find
            fault with a man who chooses to enjoy a pleasure that has no annoying consequences.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Experience Details Area =================-->

<!--================Video Area =================-->
<section class="video_text_area video_bg_c pad_100">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="video_left_text">
          <h3>We're knowledgeable
            <br />about making your
            <br /> benefits higher</h3>
          <p>We plainly comprehend that you need not to lose, but rather to gain more cash over your time of work with us. That
            is the reason we dismiss all high-chance undertakings, that may prompt a quick heap of money out of the blue
            however to a primary capital's misfortune the second time.</p>
          <a class="learn_btn" href="#">Learn more about us</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="video_box">
            <video width="320" height="240" controls>
                <source src="https://www.youtube.com/watch?v=48uPk1SA37Y.mp4" type="video/mp4">
                <source src="https://www.youtube.com/watch?v=48uPk1SA37Y.org" type="video/ogg">
             
              </video>
          <!-- <img src="img/video/video-1.jpg" alt=""> -->
          <!-- <video src="https://www.youtube.com/watch?v=48uPk1SA37Y"></video> -->
          <!-- <a class="popup-youtube" href="https://www.youtube.com/watch?v=48uPk1SA37Y"> -->
          <!-- <i class="flaticon-play-button"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Video Area =================-->

<app-footer></app-footer>