<app-header></app-header>
<!--================Banner Area =================-->
<section class="banner_area">
  <div class="container">
    <div class="banner_inner">
      <h2>User Login</h2>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li class="active">
          <a href="private-banking.html">User Login</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--================End Banner Area =================-->

<!--================Faq Area =================-->
<!--Start reapires-services-area -->
<section class="row m0 business_service-area">
  <div class="container">
    <div class="row">
      <div class="signup-form">
        <form  method="post" autocomplete="off">
          <h2>Login</h2>
          <p class="hint-text">Create your account. It's free and only takes a minute.</p>

          <div class="form-group">
            <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="User Name" required="required">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="name" required="required">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block" (click)="login()">Login Now</button>
          </div>
        </form>
        <div class="text-center">Already have an account?
          <a href="#">Sign in</a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>