<app-header></app-header>
<!--================Banner Area =================-->
<section class="banner_area">
  <div class="container">
    <div class="banner_inner">
      <h2>Internship Trainings</h2>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li class="active">
          <a>Internship Training</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--================End Banner Area =================-->

<!--================Prictice Area =================-->
<section class="practice_area sevice_offer">
  <div class="container">
    <div class="row " style="background:#5d6062">
      <div class="col-md-2">
        <div class="form-group">
          <label></label>
          <input type="email" class="form-control" placeholder="Name">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label></label>
          <input type="number" class="form-control" placeholder="Mobile Number">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label></label>
          <input type="email" class="form-control" placeholder="Email">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label></label>
          <input type="email" class="form-control" placeholder="Internship City">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label></label>
          <input type="email" class="form-control" placeholder="How can we help you ?">
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label></label>
          <input type="submit" class="form-control" value="Submit">
        </div>
      </div>

    </div>
    <div class="row" style="padding-top:30px">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-5">
            <img src="assets/img/practice/php.png" class="img-responsive" />
          </div>
          <div class="col-md-7">
            <h6 class="header_text">Pre Hypertext Preprocessor</h6>
            <ul class="tech">
              <li>Basic PHP + MySql Training</li>
              <li>Advance PHP Project Training</li>
              <li>Joomal CMS</li>
              <li>Word Press</li>
              <li>Cake PHP Framework MVC</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-5">
            <img src="assets/img/practice/web.jpg" class="img-responsive" />
          </div>
          <div class="col-md-7">
            <h6 class="header_text">Mobile APP Technologies</h6>
            <ul class="tech">
              <li>Android App Developement</li>
              <li>Iphone App Developement</li>
              <li>Apple IPAD Developement</li>
              <li>Hacking</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-5">
            <img src="assets/img/practice/net.png" class="img-responsive" />
          </div>
          <div class="col-md-7">
            <h6 class="header_text">Microsoft Technologies</h6>
            <ul class="tech">
              <li>Visual C# Programming</li>
              <li>ASP,.Net with C#</li>
              <li>LINQ (Language Integrated Query)</li>
              <li>APS .NET MVC</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <br>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-5">
            <img src="assets/img/practice/android.png" class="img-responsive" />
          </div>
          <div class="col-md-7">
            <h6 class="header_text">Web Technologies</h6>
            <ul class="tech">
              <li>HTML</li>
              <li>CSS</li>
              <li>Java Script</li>
              <li>Jquery</li>
              <li>SEQ</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-5">
            <img src="assets/img/practice/java.png" class="img-responsive" />
          </div>
          <div class="col-md-7">
            <h6 class="header_text">JAVA Technologies</h6>
            <ul class="tech">
              <li>Core Java</li>
              <li>Advanced Java (J2EE)</li>
              <li>Oracel Certification (OCJP)</li>
              <li>C</li>
              <li>C++</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-5">
            <img src="assets/img/practice/autocad.png" class="img-responsive" />
          </div>
          <div class="col-md-7">
            <h6 class="header_text">B.Tech - EN,EE,EC</h6>
            <ul class="tech">
              <li>AutoCad</li>
              <li>Matlab</li>
              <li>Robotics</li>
              <li>Embedded System</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br/><br>
  </div>
</section>
<!--================End Prictice Area =================-->

<!--================End Video Area =================-->

<app-footer></app-footer>