<app-header></app-header>
<!--================Banner Area =================-->
<section class="banner_area">
  <div class="container">
    <div class="banner_inner">
      <h2>Training Courses</h2>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li class="active">
          <a href="private-banking.html">Training Courses</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--================End Banner Area =================-->

<!--================Faq Area =================-->
<!--Start reapires-services-area -->
<section class="row m0 business_service-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-8 pull-right">
        <div class="business_service_content">
          <div class="row m0 service_post">
            <div class="row private">
              <div class="col-sm-8 col-xs-8 p_img">
                <img src="assets/img/business/private-banking.jpg" alt="">
              </div>
              <div class="col-sm-4 col-xs-4 p_img p_img2">
                <img src="assets/img/business/private-banking2.jpg" alt="">
              </div>
            </div>
            <h2>Private Banking Sector</h2>
            <p>Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one
              rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how
              to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone
              who loves or pursues or desires to obtain pain of itself,</p>
            <p>Occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial
              example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?
              But who has any right to find fault with a man who chooses to enjoy a pleasure.</p>
          </div>
          <div class="row planing-box">
            <div class="col-md-6 ">
              <div class="practice_item">
                <div class="p_img_inner">
                  <video width="420" height="340" controls>
                    <source src="assets/img/video/video1.mp4" type="video/mp4">
                  </video>
                  <a class="p_hover" href="financial.html">
                    <h5>View Details</h5>
                  </a>
                </div>
                <a href="financial.html">
                  <h4>Bootstrap</h4>
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="practice_item">
                <div class="p_img_inner">
                  <video width="420" height="340" controls>
                    <source src="assets/img/video/video1.mp4" type="video/mp4">
                  </video>
                  <a class="p_hover" href="financial.html">
                    <h5>View Details</h5>
                  </a>
                </div>
                <a href="financial.html">
                  <h4>Bootstrap</h4>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 b-sidebar pull-left">
        <div class="tt-widget">
          <ul class="business-services-menu">
            <li class="active">
              <a href="private-banking.html">Python</a>
            </li>
            <li>
              <a href="wealth-management.html">Angular</a>
            </li>
            <li>
              <a href="business.html">Node</a>
            </li>
            <li>
              <a href="marketing.html">JavaScript</a>
            </li>
            <li>
              <a href="stragetic-planning.html">HTML</a>
            </li>
            <li>
              <a href="sales-trade.html">Bootstrap</a>
            </li>
            <li>
              <a href="financial.html">Jquery</a>
            </li>
          </ul>
        </div>
        <div class="tt-widget">
          <div class="row m0 downloads">
            <h3 class="tt_widget_title">Our Brochures</h3>
            <div class="dload">
              <a href="#" class="download-btn">
                <i class="fa fa-file-pdf-o"></i>Pdf. Download</a>
              <a href="#" class="download-btn">
                <i class="fa fa-file-pdf-o"></i>Doc. Download</a>
            </div>
          </div>
        </div>
        <div class="tt-widget">
          <div class="row m0 con_info">
            <div class="contact_info_img">
              <img src="assets/img/business/contact-info-img.jpg" alt="">
              <h2>Contact Info</h2>
            </div>
            <div class="contact_list">
              <a href="#">
                <i class="fa fa-phone"></i>1800 654 7895</a>
              <a href="#">
                <i class="fa fa-paper-plane"></i>contact@straight.com</a>
            </div>

          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-lg btn-warning" style="width:100%" (click)="register()">Enroll Now</button>
        </div>
      </div>

    </div>
  </div>
</section>
<app-footer></app-footer>