<app-header></app-header>
<!--================Banner Area =================-->
<section class="banner_area">
  <div class="container">
    <div class="banner_inner">
      <h2>corporate Trainings</h2>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li class="active">
          <a>corporate Training</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--================End Banner Area =================-->

<!--================Prictice Area =================-->
<section class="practice_area sevice_offer pad_100">
  <div class="container">
    <div class="row ">
      <div class="col-sm-3 col-xs-6 products transport sector" >
        <div class="cases_item">
          <div class="cases_image">
            <img src="assets/img/corporate/1.jpg" class="img-resposive" alt="">
            <a class="cases_link">
              <i class="icon icon-Linked"></i>
            </a>
          </div>
          <a>
            <h5>Oracle</h5>
          </a>

        </div>

      </div>
      <div class="col-sm-3 col-xs-6 products transport sector" >
        <div class="cases_item">
          <div class="cases_image">
            <img src="assets/img/corporate/2.jpg" class="img-resposive" alt="">
            <a class="cases_link">
              <i class="icon icon-Linked"></i>
            </a>
          </div>
          <a>
            <h5>Oracle Fusion Applications</h5>
          </a>

        </div>

      </div>
      <div class="col-sm-3 col-xs-6 products transport sector" >
        <div class="cases_item">
          <div class="cases_image">
            <img src="assets/img/corporate/3.jpg" class="img-resposive" alt="">
            <a class="cases_link">
              <i class="icon icon-Linked"></i>
            </a>
          </div>
          <a>
            <h5>SAP</h5>
          </a>

        </div>

      </div>
      <div class="col-sm-3 col-xs-6 products transport sector" >
        <div class="cases_item">
          <div class="cases_image">
            <img src="assets/img/corporate/4.JPG" class="img-resposive" alt="">
            <a class="cases_link">
              <i class="icon icon-Linked"></i>
            </a>
          </div>
          <a>
            <h5>Microsoft Dynamics</h5>
          </a>

        </div>

      </div>

    </div>
    <div class="row ">
      <br>
      <div class="col-sm-3 col-xs-6 products transport sector" >
        <div class="cases_item">
          <div class="cases_image">
            <img src="assets/img/corporate/5.jpg" class="img-resposive" alt="">
            <a class="cases_link">
              <i class="icon icon-Linked"></i>
            </a>
          </div>
          <a>
            <h5>Salesforce</h5>
          </a>

        </div>
      </div>
      <div class="col-sm-3 col-xs-6 products transport sector" >
        <div class="cases_item">
          <div class="cases_image">
            <img src="assets/img/corporate/6.JPG" class="img-resposive" alt="">
            <a class="cases_link">
              <i class="icon icon-Linked"></i>
            </a>
          </div>
          <a>
            <h5>Data Science</h5>
          </a>

        </div>

      </div>
      <div class="col-sm-3 col-xs-6 products transport sector" >
        <div class="cases_item">
          <div class="cases_image">
            <img src="assets/img/corporate/7.jpg" class="img-resposive" alt="">
            <a class="cases_link">
              <i class="icon icon-Linked"></i>
            </a>
          </div>
          <a>
            <h5>.Net</h5>
          </a>

        </div>

      </div>
      <div class="col-sm-3 col-xs-6 products transport sector" >
        <div class="cases_item">
          <div class="cases_image">
            <img src="assets/img/corporate/8.JPG" class="img-resposive" alt="">
            <a class="cases_link">
              <i class="icon icon-Linked"></i>
            </a>
          </div>
          <a>
            <h5>Angular</h5>
          </a>

        </div>

      </div>
    </div>
    <div class="row">
      <br>
      <div class="col-sm-3 col-xs-6 products transport sector" >
        <div class="cases_item">
          <div class="cases_image">
            <img src="assets/img/corporate/9.jpg" class="img-resposive" alt="">
            <a class="cases_link">
              <i class="icon icon-Linked"></i>
            </a>
          </div>
          <a>
            <h5>Android</h5>
          </a>

        </div>

      </div>
      <div class="col-sm-3 col-xs-6 products transport sector" >
        <div class="cases_item">
          <div class="cases_image">
            <img src="assets/img/corporate/10.jpg" class="img-resposive" alt="">
            <a class="cases_link">
              <i class="icon icon-Linked"></i>
            </a>
          </div>
          <a>
            <h5>IoT</h5>
          </a>

        </div>

      </div>



    </div>
  </div>
</section>
<!--================End Prictice Area =================-->

<!--================End Video Area =================-->

<app-footer></app-footer>