<app-header></app-header>

<!--================Slider Area =================-->
<section class="main_slider_area">
    <div class="rev_slider" data-version="5.3.1.6">

        <div class="row pad_100 home_banner">
            <div class="col-md-1"></div>
            <div class="col-md-5 ">
                <h3 style="color:#ccc; padding-bottom:15px">Best Training Institute ? RST Global in Top List !</h3>
                <div class="home_table">
                    <p>
                        <i class="fa fa-hand-o-right icon_size"></i>
                        <span class="p_text">Exposure to industry oriented Training </span><br />
                        <small style="margin-left: 44px;">We provide Real time Job oriented training</small>
                    </p>
                    <p>
                        <i class="fa fa-hand-o-right icon_size"></i>
                        <span class="p_text">Enriched Leaning Experience </span><br>
                        <small style="margin-left: 44px;">Digital classroom & well furnished Lab infrastructure</small>
                    </p>
                    <p>
                        <i class="fa fa-hand-o-right icon_size"></i>
                        <span class="p_text">Accelarated Career growth </span><br>
                        <small style="margin-left: 44px;">Enroll now & start your Career growth</small>
                    </p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 home_form">
                <h4 class="text-center">Register for Free Demo</h4>
                <br>
                <div id="signup_container" class="hidden-xs">
                    <form role="form" autocomplete="off" novalidate="" class="signup-form ng-pristine " name="signupForm1">
                        <div class="form-group">
                            <!-- <label for="email" class="control-label">Email:</label> -->
                            <input type="email" [(ngModel)] ="email" class="form-control input-sm ng-pristine " name="email"
                                placeholder="Email" required="" style="">
                        </div>
                        <!-- <div class="form-group">
                            <label for="email" class="control-label">Password</label>
                            <input type="password" class="form-control input-sm ng-pristine " name="email" placeholder="password"
                                required="" style="">
                        </div> -->
                        <div class="form-group">
                            <!-- <label for="email" class="control-label">Name:</label> -->
                            <input type="text"  [(ngModel)] ="name"  class="form-control input-sm ng-pristine " name="name"
                                placeholder="Name" required="" style="">
                        </div>
                        <div class="form-group">
                            <!-- <label for="email" class="control-label">Mobile:</label> -->
                            <input type="number" [(ngModel)] ="mobile"  class="form-control input-sm ng-pristine " name="mobile"
                                placeholder="Mobile" required="" style="">
                        </div>
                        <div class="form-group">
                            <!-- <label for="email" class="control-label">City:</label> -->
                            <input type="text" [(ngModel)] ="city"  class="form-control input-sm ng-pristine " name="city"
                                placeholder="City" required="" style="">
                        </div>
                        <div class="form-group">
                            <!-- <label for="email" class="control-label">Message:</label> -->
                            <input type="text" [(ngModel)] ="message"  class="form-control input-sm ng-pristine " name="message"
                                placeholder="Message" required="" style="">
                        </div>
                        <div class="form-group">
                            <button (click) = "register()" class="btn btn-info btn-md" style="width:100%;background: #084094;
                            border-color: #084094;">Submit</button>
                        </div>
                        <!-- <div class="form-group">
                            <label for="email" class="control-label">City:</label>
                            <select class="form-control">
                                <option value="">Angular</option>
                                <option value="">Sap</option>
                                <option value="">Android</option>
                                <option value="">Data Science</option>
                                <option value="">.Net</option>

                            </select>
                        </div> -->

                        <div class="form-group">
                            <!-- ngIf: showButton -->

                            <!-- end ngIf: showButton -->
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>


        <!-- <img src="assets/img/home-slider/slider-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"> -->
        <!-- <ul>
            <li data-index="rs-1587" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="assets/img/home-slider/slider-1.jpg"
                data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3=""
                data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <img src="assets/img/home-slider/slider-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                    data-bgparallax="5" class="rev-slidebg" data-no-retina>

                <div class="slider_text_box">
                    <div class="tp-caption tp-resizeme first_text" id="slide-1586-layer-1" data-x="['left','left','left','left','15','0']" data-hoffset="['0','80','80','0']"
                        data-y="['top','top','top','top']" data-voffset="['290','290','290','220','130']" data-fontsize="['54','54','54','40','25']"
                        data-lineheight="['64','64','64','50','35']" data-width="['550','550','550','550','300']" data-height="none"
                        data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                        data-textAlign="['left','left','left','left','left','center']" style="z-index: 8;font-family: Montserrat,sans-serif;font-weight:700;color:#29263a;">Provide Quality Consulting Service</div>

                    <div class="tp-caption tp-resizeme secand_text" id="slide-1587-layer-2" data-x="['left','left','left','left','15','0']" data-hoffset="['0','80','80','0']"
                        data-y="['top','top','top','top']" data-voffset="['435','435','435','340','215']" data-fontsize="['22','22','22','18','16']"
                        data-lineheight="['28','28','26','26']" data-width="['400','400','400','400','300']" data-height="none"
                        data-whitespace="normal" data-type="text" data-responsive_offset="on" data-transform_idle="o:1;" data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                        data-textAlign="['left','left','left','left','left','center']" style="z-index: 8;font-family:Lato,sans-serif;font-weight:400;color:#000;letter-spacing: .44px;">We're knowledgeable about making your benefits higher
                    </div>

                    <div class="tp-caption tp-resizeme" id="slide-1588-layer-3" data-x="['left','left','left','left','15','center']" data-hoffset="['0','80','80','0']"
                        data-y="['top','top','top','top']" data-voffset="['525','525','525','425','300']" data-width="none" data-height="none"
                        data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                        data-textAlign="['left','left','left','left','left','center']">
                        <a class="learn_btn" href="#">Get appointment</a>
                    </div>
                </div>
            </li>
            <li data-index="rs-1588" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="assets/img/home-slider/slider-2.jpg"
                data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3=""
                data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <img src="assets/img/home-slider/slider-2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                    data-bgparallax="5" class="rev-slidebg" data-no-retina>
             
                <div class="slider_text_box">
                    <div class="tp-caption tp-resizeme first_text" id="slide-1589-layer-1" data-x="['left','left','left','left','15','0']" data-hoffset="['0','80','80','0']"
                        data-y="['top','top','top','top']" data-voffset="['290','290','290','220','130']" data-fontsize="['54','54','54','40','25']"
                        data-lineheight="['64','64','64','50','35']" data-width="['550','550','550','550','300']" data-height="none"
                        data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                        data-textAlign="['left','left','left','left']" style="z-index: 8;font-family: Montserrat,sans-serif;font-weight:700;color:#29263a;">Provide Quality Consulting Service</div>
                    <div class="tp-caption tp-resizeme secand_text" id="slide-1590-layer-2" data-x="['left','left','left','left','15','0']" data-hoffset="['0','80','80','0']"
                        data-y="['top','top','top','top']" data-voffset="['435','435','435','340','225']" data-fontsize="['22','22','22','18','16']"
                        data-lineheight="['28','28','26','26']" data-width="['550','550','550','400','300']" data-height="none"
                        data-whitespace="normal" data-type="text" data-responsive_offset="on" data-transform_idle="o:1;" data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                        style="z-index: 8;font-family:Lato,sans-serif;font-weight:400;color:#000;letter-spacing: 0px;">Our solid conviction is that if a business is to be upgraded, it's to be streamlined in a full cycle
                        way!
                    </div>

                    <div class="tp-caption tp-resizeme" id="slide-1591-layer-3" data-x="['left','left','left','left','15','0']" data-hoffset="['0','80','80','0']"
                        data-y="['top','top','top','top']" data-voffset="['525','525','525','425','330']" data-fontsize="['14','14','14','14']"
                        data-lineheight="['46','46','46','46']" data-width="none" data-height="none" data-whitespace="nowrap"
                        data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                        <a class="learn_btn" href="#">Get appointment</a>
                    </div>
                </div>
            </li>
        </ul> -->
    </div>
</section>
<!--================End Slider Area =================-->

<!--================Welcome Area =================-->
<section class="welcome_area pad_30">
    <div class="container">
        <div class="big_titl">
            <h2>Welcome to RST Global Technologies
                <br />
            </h2>
            <p>
                we occupy a stornge postion to structure specific training programs
            </p>

        </div>
        <div class="row welcome_inner">
            <div class="col-md-4">
                <div class="welcome_f_item">
                    <i class="flaticon-users"></i>
                    <h4>Self Paced Training </h4>
                    <p>Learn at your speed</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="welcome_f_item">
                    <i class="flaticon-coins"></i>
                    <h4>Expert Teachers </h4>
                    <p>Training from industry experts</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="welcome_f_item">
                    <i class="flaticon-connection"></i>
                    <h4>Learn Anywhere </h4>
                    <p>E-Learning access Any where, Any Time</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->

<!--================Prictice Area =================-->
<section class="practice_area pad_25">
    <div class="container">
        <div class="left_title">
            <h2>Popular Courses</h2>
        </div>
        <div class="practice_slider owl-carousel">
            <div class="item" (click)="online()">
                <div class="practice_item">
                    <div class="p_img_inner">
                        <a class="p_img">
                            <img src="assets/img/practice/11.PNG" alt="">
                        </a>
                        <a class="p_hover">
                            <h5>View Details</h5>
                        </a>
                    </div>
                    <!-- <a>
                        <h4>MEAN</h4>
                    </a> -->
                </div>
            </div>
            <div class="item" (click)="online()">
                <div class="practice_item">
                    <div class="p_img_inner">
                        <a class="p_img">
                            <img src="assets/img/practice/22.PNG" alt="">
                        </a>
                        <a class="p_hover">
                            <h5>View Details</h5>
                        </a>
                    </div>
                    <!-- <a>
                        <h4>Data Science</h4>
                    </a> -->
                </div>
            </div>
            <div class="item" (click)="online()">
                <div class="practice_item">
                    <div class="p_img_inner">
                        <a class="p_img">
                            <img src="assets/img/practice/33.PNG" alt="">
                        </a>
                        <a class="p_hover">
                            <h5>View Details</h5>
                        </a>
                    </div>
                    <!-- <a>
                        <h4>Oracle Fusion</h4>
                    </a> -->
                </div>
            </div>
            <div class="item" (click)="online()">
                <div class="practice_item">
                    <div class="p_img_inner">
                        <a class="p_img">
                            <img src="assets/img/practice/44.PNG" alt="">
                        </a>
                        <a class="p_hover">
                            <h5>View Details</h5>
                        </a>
                    </div>
                    <!-- <a>
                        <h4>Oracle</h4>
                    </a> -->
                </div>
            </div>

        </div>
    </div>
</section>
<section class="practice_area pad_25">
    <div class="container">
        <div class="left_title">
            <h2>Future Courses</h2>
        </div>
        <div class="practice_slider owl-carousel">
            <div class="item" (click)="online()">
                <div class="practice_item">
                    <div class="p_img_inner">
                        <a class="p_img">
                            <img src="assets/img/practice/a.JPG" alt="">
                        </a>
                        <a class="p_hover">
                            <h5>View Details</h5>
                        </a>
                    </div>

                </div>
            </div>
            <div class="item" (click)="online()">
                <div class="practice_item">
                    <div class="p_img_inner">
                        <a class="p_img">
                            <img src="assets/img/practice/b.JPG" alt="">
                        </a>
                        <a class="p_hover">
                            <h5>View Details</h5>
                        </a>
                    </div>

                </div>
            </div>
            <div class="item" (click)="online()">
                <div class="practice_item">
                    <div class="p_img_inner">
                        <a class="p_img">
                            <img src="assets/img/practice/c.JPG" alt="">
                        </a>
                        <a class="p_hover">
                            <h5>View Details</h5>
                        </a>
                    </div>

                </div>
            </div>
            <div class="item" (click)="online()">
                <div class="practice_item">
                    <div class="p_img_inner">
                        <a class="p_img">
                            <img src="assets/img/practice/d.JPG" alt="">
                        </a>
                        <a class="p_hover">
                            <h5>View Details</h5>
                        </a>
                    </div>

                </div>
            </div>
            <div class="item" (click)="online()">
                <div class="practice_item">
                    <div class="p_img_inner">
                        <a class="p_img">
                            <img src="assets/img/practice/e.JPG" alt="">
                        </a>
                        <a class="p_hover">
                            <h5>View Details</h5>
                        </a>
                    </div>

                </div>
            </div>
            <div class="item" (click)="online()">
                <div class="practice_item">
                    <div class="p_img_inner">
                        <a class="p_img">
                            <img src="assets/img/practice/f.JPG" alt="">
                        </a>
                        <a class="p_hover">
                            <h5>View Details</h5>
                        </a>
                    </div>

                </div>
            </div>
            <div class="item" (click)="online()">
                <div class="practice_item">
                    <div class="p_img_inner">
                        <a class="p_img">
                            <img src="assets/img/practice/g.JPG" alt="">
                        </a>
                        <a class="p_hover">
                            <h5>View Details</h5>
                        </a>
                    </div>

                </div>
            </div>
            <div class="item" (click)="online()">
                <div class="practice_item">
                    <div class="p_img_inner">
                        <a class="p_img">
                            <img src="assets/img/practice/h.JPG" alt="">
                        </a>
                        <a class="p_hover">
                            <h5>View Details</h5>
                        </a>
                    </div>

                </div>
            </div>
            <div class="item" (click)="online()">
                <div class="practice_item">
                    <div class="p_img_inner">
                        <a class="p_img">
                            <img src="assets/img/practice/i.JPG" alt="">
                        </a>
                        <a class="p_hover">
                            <h5>View Details</h5>
                        </a>
                    </div>

                </div>
            </div>
            <div class="item" (click)="online()">
                <div class="practice_item">
                    <div class="p_img_inner">
                        <a class="p_img">
                            <img src="assets/img/practice/j.JPG" alt="">
                        </a>
                        <a class="p_hover">
                            <h5>View Details</h5>
                        </a>
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>

<!--================End Video Area =================-->


<!--================Testimonials Area =================-->
<!-- <section class="testimonials_area">
    <div class="container">
        <div class="testi_inner" data-title="Testimonials">
            <div id="testimonial_slider" class="testimonial_slider owl-carousel">
                <div class="item testimonial_item">
                    <p>
                        <img src="assets/img/testimonials/quoto-1.png" alt="">In any case, we accomplish that by utilizing in intri cate arranging, keen evaluations, and future
                        development projections and making protected.</p>
                    <div class="media">
                        <div class="media-left">
                            <img src="assets/img/testimonials/testimonials-1.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4>John Joe</h4>
                            <h5>Marketing Manager</h5>
                        </div>
                    </div>
                </div>
                <div class="item testimonial_item">
                    <p>
                        <img src="assets/img/testimonials/quoto-1.png" alt="">In any case, we accomplish that by utilizing in intri cate arranging, keen evaluations, and future
                        development projections and making protected.</p>
                    <div class="media">
                        <div class="media-left">
                            <img src="assets/img/testimonials/testimonials-2.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4>John Joe</h4>
                            <h5>Marketing Manager</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--================End Testimonials Area =================-->



<!--================Contact Querry Area =================-->
<!-- <section class="contact_querry_area pad_100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="querry_contact">
                    <form class="contact_us_form row m0" action="http://demos.pixelatethemes.com/straight/theme/Default-demo/contact_process.php"
                        method="post" id="contactForm" novalidate="novalidate">
                        <div class="form-group col-md-12">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address*">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject*">
                        </div>
                        <div class="form-group col-md-12">
                            <textarea class="form-control" name="message" id="message" rows="1" placeholder="Your Message*"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" value="submit" class="btn submit_btn form-control">submit now</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-6">
                <div class="querry_text">
                    <h6>Contact us</h6>
                    <h3 class="single_bar_title">You can drop message
                        <br /> for any querry.</h3>
                    <h5>Call Us Toll Free</h5>
                    <a href="#">
                        <h4>+91-124-4274447</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--================End Contact Querry Area =================-->

<app-footer></app-footer>