<app-header></app-header>
<!--================Banner Area =================-->
<section class="banner_area">
  <div class="container">
    <div class="banner_inner">
      <h2>Class Room Training</h2>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li class="active">
          <a href="cases-details.html">Class Room Training</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--================End Banner Area =================-->

<!--================Cases Details Area =================-->
<section class="cases_details_area pad_100">
  <div class="container">
    <div class="cases_details_inner">
      <div class="row cases_image_inner">
        <div class="col-sm-12">
          <div class="cases_img">
            <img src="assets/img/cases/case-details-1.jpg" alt="">
          </div>
        </div>
       
      </div>
      <div class="left_title">
        <h2>About the Angular</h2>
      </div>
      <p>AngularJS is a structural framework for dynamic web apps. With AngularJS, designers can use HTML as the template language and it allows for the extension of HTML's syntax to convey the application's components effortlessly. Angular makes much of the code you would otherwise have to write completely redundant</p>
     
    </div>
    <div class="row planing-box">
        <div class="col-md-6 ">
          <div class="practice_item">
            <div class="p_img_inner" *ngIf="token">
              <video width="420" height="340" controls>
                <source src="assets/img/video/video1.mp4" type="video/mp4">
              </video>
  
            </div>
            <div class="video_box" *ngIf="token == null">
              <br>
              <img src="assets/img/video/video-1.jpg" alt="">
              <a class="popup-youtube">
                <i class="flaticon-play-button"></i>
              </a>
            </div>
            <a >
              <h4>Angular Basics</h4>
            </a>
          </div>
  
        </div>
        <div class="col-md-6">
            <div class="practice_item">
                <div class="p_img_inner" *ngIf="token">
                  <video width="420" height="340" controls>
                    <source src="assets/img/video/video1.mp4" type="video/mp4">
                  </video>
      
                </div>
                <div class="video_box" *ngIf="token == null">
                  <br>
                  <img src="assets/img/video/video-1.jpg" alt="">
                  <a class="popup-youtube">
                    <i class="flaticon-play-button"></i>
                  </a>
                </div>
                <a >
                  <h4>Routing</h4>
                </a>
              </div>
        </div>
      </div>
  </div>

</section>
<!--================End Cases Details Area =================-->

<!--================What Did Area =================-->

<!--================End What Did Area =================-->

<!--================End Result info Area =================-->
<app-footer></app-footer>