<app-header></app-header>
<!--================Banner Area =================-->
<section class="banner_area">
  <div class="container">
    <div class="banner_inner">
      <h2>Self Paced Trainings</h2>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li class="active">
          <a href="service.html">Self Paced Training</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--================End Banner Area =================-->

<!--================Prictice Area =================-->
<section class="practice_area sevice_offer pad_100">
  <div class="container">
    <div class="left_title">
      <h2>We Offer Services</h2>
      <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how
        to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves
        or pursues or desires to obtain pain.</p>
    </div>
    <div class="row practice_inner">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="practice_item">
          <div class="p_img_inner">
            <a class="p_img" href="private-banking.html">
              <img src="assets/img/practice/practice-1.jpg" alt="">
            </a>
            <a class="p_hover" href="private-banking.html">
              <h5>View Details</h5>
            </a>
          </div>
          <a href="#">
            <h4>Private Banking</h4>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="practice_item">
          <div class="p_img_inner">
            <a class="p_img" href="wealth-management.html">
              <img src="assets/img/practice/practice-2.jpg" alt="">
            </a>
            <a class="p_hover" href="wealth-management.html">
              <h5>View Details</h5>
            </a>
          </div>
          <a href="wealth-management.html">
            <h4>Wealth Management</h4>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="practice_item">
          <div class="p_img_inner">
            <a class="p_img" href="business.html">
              <img src="assets/img/practice/practice-3.jpg" alt="">
            </a>
            <a class="p_hover" href="business.html">
              <h5>View Details</h5>
            </a>
          </div>
          <a href="business.html">
            <h4>Business Developmentg</h4>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="practice_item">
          <div class="p_img_inner">
            <a class="p_img" href="marketing.html">
              <img src="assets/img/practice/practice-4.jpg" alt="">
            </a>
            <a class="p_hover" href="marketing.html">
              <h5>View Details</h5>
            </a>
          </div>
          <a href="marketing.html">
            <h4>Marketing Analysis</h4>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="practice_item">
          <div class="p_img_inner">
            <a class="p_img" href="stragetic-planning.html">
              <img src="assets/img/practice/practice-5.jpg" alt="">
            </a>
            <a class="p_hover" href="stragetic-planning.html">
              <h5>View Details</h5>
            </a>
          </div>
          <a href="stragetic-planning.html">
            <h4>Stragetic Planning</h4>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="practice_item">
          <div class="p_img_inner">
            <a class="p_img" href="sales-trade.html">
              <img src="assets/img/practice/practice-6.jpg" alt="">
            </a>
            <a class="p_hover" href="sales-trade.html">
              <h5>View Details</h5>
            </a>
          </div>
          <a href="sales-trade.html">
            <h4>Sales & Trade</h4>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="practice_item">
          <div class="p_img_inner">
            <a class="p_img" href="financial.html">
              <img src="assets/img/practice/practice-7.jpg" alt="">
            </a>
            <a class="p_hover" href="financial.html">
              <h5>View Details</h5>
            </a>
          </div>
          <a href="financial.html">
            <h4>Financial Planning</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Prictice Area =================-->

<!--================End Video Area =================-->

<app-footer></app-footer>